<form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <button type="submit" value = "Submit">Submit</button>
  <button type="submit" value = "Display" target = "_blank" formaction= "/todo">Display</button>
</form>

{% for item in items %}
  <h1> CONTROL DISTANCE {{ item.km }} </h1>
  <p> OPENING TIME {{ item.open_times }} <p>
  	<p> CLOSING TIME {{ item.close_times }} <p>
{% endfor %}
